@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.red-hat-normal {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}