.bg-davi {
    position: relative;
    background-image: url('../assets/pse/davibanner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -2500px;
    backdrop-filter: blur(20px);
}

.bg-davi:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.bg-form {
    background-color: #ffffff7a;
}

.text-helvetica {
    font-family: 'Helvetica Neue', Helvetica, sans-serif; /* Fuente alternativa */
}

.roboto {
    font-family: "Roboto", serif;
}

/*
* FORMS
*/
label {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

select {
    display: block;
    font-size: 14px;
    border-radius: 8px;
    padding-block: 10px;
    padding-left: 5px;
    width: 100%;
    outline: none;
}

input {
    display: block;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid #686868;
    padding-block: 7px;
    padding-left: 5px;
    width: 100%;
    outline: none;
}

.btn-success {
    display: block;
    background-color: #ed1c27;
    border-bottom: #991219 solid 4px;
    border-radius: 10px;
    /* padding-inline: 25px; */
    width: 100%;
    padding-block: 6px;
    margin-top: 27px;
    font-weight: 600;
    color: #f0f0f0;
}

.btn-cancel {
    display: block;
    background-color: #686868;
    border-bottom: #3f3f3f solid 4px;
    border-radius: 10px;
    /* padding-inline: 25px; */
    width: 100%;
    padding-block: 6px;
    margin-top: 27px;
    font-weight: 600;
    color: #f0f0f0;
}


/*
* LOADER
*/
.cont-loader {
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    gap: 10px;
    backdrop-filter: blur(2px);
    background-color: #0000003d;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}